<button onclick="show_all_users()">Show users</button>
<div>
	<table id="show_all_users" class="table">
		<thead>
			<tr>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Email Name</td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>